<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Empregos Tcc </title>

    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/signalr")
        @Scripts.Render("/signalr/hubs")
    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")





    <style>
        .dropbtn {
            background-color: #514f4f;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #808080;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Catalogo", "Index", "About")</li>
                    <li>@Html.ActionLink("Contato", "index", "despesas")</li>
                    <li>@Html.ActionLink("Login", "Index", "login")</li>
                </ul>

                <div class="dropdown">
                    <button class="dropbtn">Anuncios</button>
                    <div class="dropdown-content">
                        <a href="~/Anuncio/CreateAnuncio">Cadastro de Anuncio</a>
                        <a href="~/Anuncio/ExibeAllAnuncios">Vizualizar todos os anuncios</a>
                        <a href="~/Anuncio/EditAnuncio">Vizualizar apenas o seu</a>
                    </div>
                </div>
            </div>

            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Teste", "Index", "login")</li>
                    </ul>
                </div>
            }
        </div>
    </div>


    <hr />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script type="text/javascript">

        $(function () {
            debugger;
            // código signalr js para iniciar hub e enviar receber notificação
            var notificationHub = $.connection.notificationHub;
            //$.connection.hub.start().done(function () {
                
            //    console.log('Notification hub started');
            //});

            //$.connection.start().done(function () {
            //    console.log('Now connected, connection ID=');
            //    // Wire up Send button to call sendmessage on the server.
            //    $('#sendmessage').click(function () {
            //        chat.invoke('method1', '0000');
            //    });
            //})
            //    .fail(function () { console.log('Could not connect'); });
            $.connection.hub.start(function () {
                var teste  = notificationHub.server.mostrarDescricao();
            });
            

            $('#notiContent').empty();
            $('#notiContent').append($('<li>Loading...</li>'));
            $.ajax({
                type: 'GET',
                url: '/Home/GetAllAnuncio',
                success: function (response) {
                    $('#notiContent').empty();
                    if (response.length == 0) {
                    }
                    $.each(response, function (index, value) {

                        $('.noti-content').show();
                        var text = value;
                        $("#notiContent").append('<li>' + text + '</li>');

                    });
                },
                error: function (error) {
                    console.log(error);
                }
            })


            var MensagemTeste = notificationHub || {};
            //MensagemTeste.Application = function () {
            //    var self = this;
            //    self.MostrarDescricao = function (anuncio) {
            //        connector.server.MostrarDescricao(anuncio);
            //    }
            //    self.Atualizar = function ($container, data) {
            //        var descricao = $.parseJSON(data);
            //        var html = '<div class="container-fluid"> descricao:' + descricao.descricao + '  </div>';
            //        $($container).append(html);
            //    }
            //};
            // método signalr para enviar mensagem do servidor ao cliente
            //notificationHub.cliente.notificar = função ( mensagem ) {
            //    if ( mensagem && mensagem . toLowerCase () == "adicionado" ) {
            //        updateNotificationCount ();
            //    }
            //}
        })
    </script>
    @RenderBody()

</body>
